version: '3.9'

x-hosts-default: &hosts-env
  host.docker.internal: host-gateway

services:
  was:
    ports:
      - "8080:80"
      - "8443:443"
  front:
    environment:
      - HOST=0.0.0.0
    ports:
      - "3000:3000"
  api:
    ports:
      - "8000:8000"