.App {
  text-align: left;
  margin: 5px;
  padding: 5px;
  border: 1px solid #000000;
}

form {
  display: block;
  text-align: left;
}

label {
  display: inline-block;
  width: 4em;
  text-align: left;
}

label[for='grouping'] {
  width: 10em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 5px 0;
}

.list-unstyled {
  list-style-type: none;
}

input[type='text'], select {
  width: 11em;
}

input[name='grouping'] {
  width: 3em;
}

button[type='submit'] {
  margin-left: 13em;
}